// app global css in SCSS form

.svd-title {
    font-weight: bold;
}

.slide-enter-active {
    animation: slide-in .3s ease-out forwards;
}

.slide-leave-active {
    animation: slide-out .3s ease-out forwards;
}

@keyframes slide-in {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}